<section id="here">
  <div class="here container">
      <div>
          <h1>APOYO,<span></span></h1>
          <h1>Votre Plate-forme en ligne <span></span></h1>
          <h2>Le Meuilleur fournisseur en ligne  <span></span></h2>
          <a href="acceuil.html" type="button" class="cta">Actualité</a>
      </div>
  </div>

</section>
<!--fin -->


<!--Products-->
<section id="products">
<div class="products container">
   <div class="products-header">
       <h1 class="section-title">PRO<span>DU</span>ITS</h1>

   </div>
   <div class="all-products">
<!--Pâtisserie-->
       <div class="products-item">
           <div class="products-info">
               <h1>Pâtisserie</h1>
               <h2>Matières Premières</h2>
               <p>Vous trouverez ici toutes les matières premières dont vous avez besoin pour vos pâtisseries, et nous vous fournissons des chocolats (pâte à glacer, chocolat de couverture ... etc), colorants alimentaires, margarines, pâtes, fondants, Poudres etc...</p>
           </div>
           <div class="products-img">
               <img src="../../../assets/image/patisserie.jpeg" alt="img">
           </div>
       </div>
<!--Restaurant-->
       <div class="products-item">
           <div class="products-info">
               <h1>Restaurant</h1>
               <h2>Matières Premières</h2>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias molestiae eaque voluptates accusamus, incidunt magnam vel impedit est culpa et ab repudiandae libero nihil totam non placeat. Possimus, qui nulla?</p>
           </div>
           <div class="products-img">
               <img src="../../../assets/image/food.jpg" alt="img">
           </div>
       </div>
<!--Café-->
       <div class="products-item">
           <div class="products-info">
               <h1>Café</h1>
               <h2>Matières Premières</h2>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias molestiae eaque voluptates accusamus, incidunt magnam vel impedit est culpa et ab repudiandae libero nihil totam non placeat. Possimus, qui nulla?</p>
           </div>
           <div class="products-img">
               <img src="../../../assets/photos/cafe1.jpg" alt="img">
           </div>
       </div>
<!--Accessoire-->
       <div class="products-item">
           <div class="products-info">
               <h1>Accessoires</h1>
               <h2>Accessoire de cuisine</h2>
               <p>Sur notre Plateforme,Retrouvez un large de choix de marques (Moule silicone,Spatule,Palettes,Douilles ...) au meilleur prix</p>
           </div>
           <div class="products-img">
               <img src="../../../assets/image/acccesoire kitchen.jpg" alt="img">
           </div>
       </div>
<!--Emballage-->
       <div class="products-item">
           <div class="products-info">
               <h1>Emballages</h1>
               <h2>Emballages ALimentaires</h2>
               <p>Apoyo propose des emballages alimentaires adaptés à tous les métiers de l'alimentation: boîtes à gâteaux, plateaux, sacs, compartiments, cuillères, fourchettes ... etc.</p>
           </div>
           <div class="products-img">
               <img src="../../../assets/image/emballage.jpg" alt="img">
           </div>
       </div>

<!--Cérémonie-->
       <div class="products-item">
           <div class="products-info">
               <h1>Cérémonie</h1>
               <h2>Les articles de Cérémonie</h2>
               <p>Apoyo est spécialisé dans la vente d'articles de fête, propose une large gamme de produits pour les anniversaires (ballons, chapeaux, assiettes, flammes ...) et autres produits pour mariages, anniversaires, Soutenance ... etc.</p>
           </div>
           <div class="products-img">
               <img src="../../../assets/photos/anniv.jpeg" alt="img">
           </div>
       </div>


   </div>
</div>
</section>

<!-- fin products -->

<!--Apropos-->
<div id="about">
<div class="about container">
   <div class="col-left">
       <div class="about-img">
           <img src="../../../assets/image/logo seif finale transparent.png" alt="img">
       </div>
   </div>
   <div class="col-right">
       <h1 class="section-title"><span>A</span> PROPOS</h1>
       <h2>APOYO.TN</h2>
       <p>Nous sommes une plateforme électronique innovante par des jeunes enthousiastes, notre seul objectif est de répondre à tous les besoins des cafés, restaurants, pâtisseries ...</p>
       <a href="apropos.html" class="cta" >Lire la suite</a>
   </div>
</div>
</div>
<!--fin apropos-->


<!--Contacts-->
<section id="contact">
<div class="contact container">
 <div><h1 class="section-title">CON<span>TA</span>CTS</h1></div>
 <div class="contact-items">

   <div class="contact-item">
     <div class="icon"><img src="../../../assets/image/icons8-phone-64.png"/></div>
     <div class="contact-info">
       <h1>TEL</h1>
       <h2>+216 22.222.222</h2>
       <h2>+216 99.180.171</h2>
     </div>
   </div>

   <div class="contact-item">
     <div class="icon"><img src="../../../assets/image/icons8-email-64.png"/></div>
     <div class="contact-info">
       <h1>Email</h1>
       <h2>apoyogroupe@gmail.com</h2>
     </div>
   </div>

   <div class="contact-item">
     <div class="icon"><img src="../../../assets/image/icons8-address-64.png"/></div>
     <div class="contact-info">
       <h1>Adresse</h1>
       <h2>Tunisie - Sousse 4023</h2>
     </div>
   </div>

 </div>
</div>
</section>>
<!--fin contacts-->
<!--Footer-->
<section id="footer">
<div class="footer container">
 <div class="brand"><h1>AP<span>O</span>Y<span>O</span></h1></div>
 <h2>Votre Plateforme <span> En Ligne</span></h2>
 <div class="social-icon">
   <div class="social-item">
     <a href="#"><img src="../../../assets/image/icons8-facebook-64 (1).png"/></a>
   </div>
   <div class="social-item">
     <a href="#"><img src="../../../assets/image/icons8-instagram-64.png"/></a>
   </div>
   <div class="social-item">
     <a href="#"><img src="../../../assets/image/icons8-youtube-64.png"/></a>
   </div>
   <div class="social-item">
     <a href="#"><img src="../../../assets/image/icons8-linkedin-64.png"/></a>
   </div>
 </div>
 <p>Copyright © 2021 APOYO. Tous les droits sont réservés</p>
</div>
</section>
<!--Fin Footer-->
