<div class="container">
  <div class="text">Contactez-Nous</div>
  <form action="#">
      <!--1er ligne-->
      <div class="form-row">
          <div class="input-data">
              <input type="text" required>
              <div class="underline"></div>
              <label>Nom</label>
          </div>
          <div class="input-data">
              <input type="text" required>
              <div class="underline"></div>
              <label>Prénom</label>
          </div>
      </div>
      <!--2eme ligne-->
      <div class="form-row">
          <div class="input-data">
              <input type="text" required>
              <div class="underline"></div>
              <label>Email</label>
          </div>
          <div class="input-data">
              <input type="text" required>
              <div class="underline"></div>
              <label>Téléphone</label>
          </div>
      </div>
      <!--3eme ligne-->
      <div class="form-row">
          <div class="input-data">
              <input type="text" required>
              <div class="underline"></div>
              <label>Adresse</label>
          </div>
          <div class="input-data">
              <input type="text" required>
              <div class="underline"></div>
              <label>Sujet</label>
          </div>
      </div>
      <!--4eme ligne-->
      <div class="form-row ">
          <div class="input-data textarea"  >
              <textarea  cols="30" rows="10" required></textarea>
              <div class="underline"></div>
              <label>Ecrivez Votre Message Ici</label>
          </div>

      </div>
      <!--5eme ligne-->
      <div class="form-row submit-btn">
          <div class="input-data">
              <div class="inner"></div>
              <input type="submit" value="Envoyer">
          </div>

      </div>


  </form>
</div>

<!--Buton banner-->
<div class="bottom-text">
  <h2>APOYO.TN ❤ Votre Fournisseur en ligne , <a href="acceuil.html" target="_blank">Acceuil</a></h2>
</div>
